<div class="mobile-nav">
    <div class="amado-navbar-brand">
        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
    </div>
    <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
    </div>
</div>

<header class="header-area clearfix">
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="logo">
        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
    </div>
    <nav class="amado-nav">
        <ul>
            <li class="mHome"><a href="/">Home</a></li>
            <li class="mShop"><a href="shop">Shop</a></li>
            <li class="mContack"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="cart-fav-search mb-100" style="margin-top: 30px;">
        <a href="cart" class="cart-nav"><img src="img/core-img/cart.png" alt=""> Cart</a>
        <a href="#" class="search-nav"><img src="img/core-img/search.png" alt=""> Search</a>
    </div>
</header>
