<header>
    <div class="markets">1</div>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LOGO</a>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Join now</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Insights & ideas</a></li>
            <li><a href="#">SMSF</a></li>
            <li><a href="#">IPOs</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-search"></i></a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  
    <div class="alerts">
  
      <div class="alert alert-info animated bounceInRight">
        <div class="icon pull-left">
          <i class="fa fa-info fa-2x"></i>
        </div>
        <div class="copy">
          <h4>Information</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a class="noti_close">
          close
        </a>
      </div>
      <div class="alert alert-success animated bounceInRight">
        <div class="icon pull-left">
          <i class="fa fa-check fa-2x"></i>
        </div>
        <div class="copy">
          <h4>Success</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a class="close">
          5
        </a>
      </div>
      <div class="alert alert-warning animated bounceInRight">
        <div class="icon pull-left">
          <i class="fa fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="copy">
          <h4>Warning</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a class="close">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="alert alert-danger animated bounceInRight">
        <div class="icon pull-left">
          <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="copy">
          <h4>Something bad just happened!</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a class="close">
          <i class="fa fa-times"></i>
        </a>
      </div>
  
    </div>
    
  </header>
  <section class="hero"></section>